.tile {
	background-position: center center;
	border-radius: 7px;
	margin-right: 10px;
	width: calc(20% - 10px);
	height: 200px;
}
.tile:last-child {
	margin-right: 0;
}
@media (max-width: 768px) {
	.tile {
		width: calc(100%/3 - 10px);
	}
	.tile:nth-child(4), .tile:nth-child(5) {
		display: none;
	}
}