@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.topbar {
	padding: 20px 40px;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 90%,rgba(0,0,0,0));
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.topbar--scroll {
    background: linear-gradient(to bottom,rgba(0,0,0,1) 100%,rgba(0,0,0,0));
}
.topbar__cont {
	display: flex;
	align-items: center;
}
.topbar__item {
	margin-right: 20px;
}
.topbar__item a {
    color: white;
    text-decoration: none;
}
.topbar__item .active {
	font-weight: bold;
}
.topbar__item--logo {
	font-family: 'Bebas Neue', cursive;
	color: var(--red);
	font-size: 26px;
	margin-right: 40px;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}
.topbar__item--logo a {
    color: var(--red);
    text-decoration: none;
}
.topbar__icon {
	filter: invert(1);
    height: 15px;
}
.topbar__acc {
	background-color: var(--red);
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 2px;
}
.topbar__face {
	background-color: white;
    content: '';
    box-shadow: 2px 0 0 0 white;
    position: absolute;
}
.topbar__face-leye {
	height: 3px;
    width: 2px;
    top: 7px;
    left: 7px;
}
.topbar__face-reye {
	height: 3px;
    width: 2px;
    top: 7px;
    right: 7px;
}
.topbar__face-mouth {
	height: 3px;
    width: 8px;
    top: 17px;
    left: 13px;
}

@media (max-width: 576px) {
    .topbar {
        padding: 20px 20px;
    }
    .topbar__item {
        margin-right: 10px;
        font-size: 12px;
    }
    .topbar__item--logo {
        margin-right: 10px;
        font-size: 26px;
    }
}