body {
	color: white;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	background-color: black;
}

#root {
	position: relative;
}

.btns {
	display: flex;
	margin-top: 20px;
}
.btn {
	border-radius: 7px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    min-width: 100px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    text-decoration: none;
}
.btn:hover {
	opacity: 0.9;
}
.btn:nth-child(2) {
	margin-left: 20px;
}
.btn--play {
	background-color: white;
}
.btn--moreinfo {
	background-color: grey;
	color: white;
}
.btn__icon {
	margin-right: 7px;
}
.btn__icon--info {

}
.btn__icon--play {

}

@keyframes loading {
	100% {
    	transform: translateX(100%);
  	}
}